.product {
    display: grid;
    grid-template: 
        "canvas informations" 450px
        "details details"
        "reviews reviews";
    
    $loved-color: #B5FF9B;
    $liked-color: #EBFF9B;
    $hated-color: #FF9B9B;

    @media screen and (max-width: 955px) {
        & {
            grid-template: 
            "informations"
            "canvas"
            "details"
            "reviews";
        }
    }

    >* {
        width: 100%;
        height: 100%;
        padding: 15px;
    }
    > .canvas-wrapper {
        grid-area: canvas;

        min-width: 20vw;
        
        canvas {
            background-color: #EAEAEA;
            height: 100%;
            width: 100%;
            border-radius: 15px;
            
            cursor: move;
            &.focusing {
                cursor: none;
            }
        }
    }
    
    > .product-informations {
        grid-area: informations;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 25px;
        $general-informations-width: 75%;
        $gap: 10%;

        >* {
            height: 95%;
        }

        @media screen and (max-width: 515px) {
            & {
                flex-direction: column;
                &>* {
                    width: 100% !important;
                }
            }
        }

        .general-infos {
            width: $general-informations-width - $gap;
            display: flex;
            flex-direction: column;
            h2 {
                font-family: 'Shrikhand', serif;
                font-size: 35px;
                font-style: italic;
                text-decoration: underline;
                color: #7C4D07;
            }
            .product-description {
                font-family: 'Bree Serif', sans-serif;
                font-size: 12px;
                p {
                    margin: 10px 0;
                    text-indent: 15px;
                }
            }
        }
        .price-n-actions {
            width: 100 - $general-informations-width;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;

            .price {
                margin-bottom: 10px;
                text-align: end;
                h3 {
                    font-family: 'Shrikhand', serif;
                    font-style: italic;
                    font-size: 35px;
                    line-height: 25px;
                    span.money {
                        margin-right: 5px;
                    }
                }
                p.price-caption {
                    font-family: 'Bree Serif', sans-serif;
                    font-size: 12px;
                }
            }
            .actions {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 170px;
                position: relative;
                button {
                    margin: 7.5px 0;
                }
            }
        }
    }

    h2.section-title {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    > .product-details {
        grid-area: details;
        margin: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        table {
            width: min(500px, 75%);
            font-family: 'Bree Serif', sans-serif;
            border-collapse: separate;
            border-spacing: 0 15px;
            @media screen and (max-width: 515px) {
                width: 100%;
            }
            tr {
                border-radius: 500px;
                td {
                    padding: 2.5px 10px;
                    width: 50%;

                    &:first-of-type {
                        text-align: right;
                        background-color: #EAEAEA;
                        color: #1E1E1E;
                        border-radius: 500px 0 0 500px;
                    }
                    &:last-of-type {
                        text-align: left;
                        color: #EAEAEA;
                        background-color: #1E1E1E;
                        border-radius: 0 500px 500px 0;
                    }
                }
            }
        }
    }
    > .product-reviews {
        grid-area: reviews;
        .chart {
            width: min(300px, 100%);
            margin: {
                top: 15px;
                bottom: 45px;
                left: auto;
                right: auto
            };
            .review-chart {
                width: 100%;
                display: flex;
                align-items: baseline;
                justify-content: center;
                margin: 2.5px 0;
                font-size: 18px;

                .bar {
                    margin-left: 10px;
                    width: 100%;
                    height: 6px;
                    background-color: #1E1E1E;
                    box-shadow: 0 0 5px #1E1E1E25;
                    border-radius: 500px;
                    overflow: hidden;
                    position: relative;

                    &::before {
                        content: "";
                        border-radius: 500px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: var(--barPourcentage);
                        height: 100%;
                    }
                }
                &[data-review-index="0"] .bar::before {
                    background-color: $loved-color;
                }
                &[data-review-index="1"] .bar::before {
                    background-color: $liked-color;
                }
                &[data-review-index="2"] .bar::before {
                    background-color: $hated-color;
                }
            }
        }

        .comments {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            article {
                $height: 215px;
                $padding: 7.5px;
                width: 165px;
                height: $height;
                background-color: #EAEAEA;
                margin: 15px 35px;
                border-radius: 15px;
                padding: $padding;
                border: 2.5px solid;
                box-shadow: 0 2.5px 20px -5px #1E1E1E75;

                @media screen and (max-width: 250px) {
                    & {
                        margin-left: 0;
                        margin-right: 0;
                        width: 100%;
                    }
                }

                $comment-height: 88;

                &[data-review-index="0"] {
                    border-color: $loved-color;
                }
                &[data-review-index="1"] {
                    border-color: $liked-color;
                }
                &[data-review-index="2"] {
                    border-color: $hated-color;
                }

                .author {
                    height: calc($height - $comment-height * 1% - $padding * 2.5);
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    img {
                        height: 100%;
                        width: auto;
                        margin-right: 7.5px;
                        border-radius: 50%;
                    }
                    h3.name {
                        font-size: 15px;
                    }
                }
                section.content {
                    font-family: 'Bree Serif', sans-serif;
                    font-size: 11.5px;
                    height: calc($height * $comment-height / 100 - $padding * 2.5);
                }
            }
        }
    }
}